<div id="<%= dom_id contact %>">
  <div class="display-5">
    <%= contact.firstname %>&nbsp;<%= contact.lastname %><%= link_to "Show this contact", contact, class: "btn btn-info btn-sm ms-3" %>
  </div>
</div>
