<div class="container-fluid">
  <div class="display-1">Contacts</div>
  <div class="text-success lead"><%= notice %></div>
  <div class="bg-body-secondary p-3 mt-3">
    <% @contacts.each do |contact| %>
      <div class="mt-3">
        <%= render contact %>
        <%= link_to "Show this contact", contact, class: "btn btn-info mt-3" %>
        <hr class="border border-primary bg-primary"/>
      </div>
    <% end %>
  </div>
  <%= link_to "New contact", new_contact_path, class: "btn btn-primary mt-3" %>
</div>
